*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}

:root {
    --purple: #1d2039;
    --light-purple: #242947;
    --lighter-purple: #797e9a;
    --green: #66a663;
    --white: #fff;
    --orange: #dbac36;
}

body{
    background-color: var(--purple);
    margin: 20px;
}

#logo{
    width: calc(75px + (80 - 75) * ((100vw - 390px) / (1280 - 390)));
    height: calc(75px + (80 - 75) * ((100vw - 390px) / (1280 - 390)));
    
}
h1{
    font-size: 32px;
    align-items: center;
    
}
header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--light-purple);
    margin-bottom: 20px;  
     
}
header span{

}

.main{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    gap: 20px;
}
.gameArea{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-purple);
    padding: 20px;
    border-radius: 20px;
    flex-grow: 1000;
}
.gameField{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(8,1fr);
    gap: 6px;
}
.field{
    background-color: var(--purple);
    width: calc(25px + (30 - 25) * ((100vw - 390px) / (1280 - 390)));
    height: calc(25px + (30 - 25) * ((100vw - 390px) / (1280 - 390)));
    border-radius: 4px;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}
.field.active{
    background-color: var(--lighter-purple);
}
.field.flag{
    background-image: url(./img/flag-in-hole.png);
    background-position: center;
    background-size: contain;
    background-color: var(--green);
}

.gameSetting{
    background-color: var(--light-purple);
    padding: 40px 20px;
    border-radius: 20px;
    flex-grow: 1;
    width: 500px;

    
}
h2{
    margin-bottom: 20px;
    text-align: center;

}
.scoup{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin-bottom: 30px;
}
.point{
    
    background-color: var(--purple);
    font-size: 21px;
    border-radius: 50px;
    padding: 8px 0;
    flex-basis: 180px;
    text-align: center;
    cursor: pointer;
}
.point.active{
    background-color: var(--orange);
}
#gameBtn{
    background-color: var(--green);
    color: var(--white);
    text-align: center;
    padding: 12px;
    font-size: 24px;

    border-radius: 50px;
    cursor: pointer;

}


#loginWrapper{
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(159,159,184,0.26934523809523814) 35%, rgba(0,212,255,1) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#loginWrapper h3{
    font-size: 26px;
    margin-bottom: 25px;
    text-align: center;
}
#loginWrapper input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    background-color: var(--purple);
    font-size: 22px;
}


@media(max-width: 390px){
    .field{
        width: calc(16px + (25 - 16) * ((100vw - 320px) / (390 - 320)));
        height: calc(16px + (25 - 16) * ((100vw - 320px) / (390 - 320)));
    }
}